<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buzz</title>
    <link rel="stylesheet" href="_/css/styles.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>

<header>
  <div class="container">
    <div class="logo">
      <h1>Buzz</h1>
    </div>
    <div class="county-info">
    </div>
    <div class="search-box">
      <form action="/" method="post">
          <input type="text" placeholder="Search Tweets" name="query" id="query">
          <button type="submit">Go</button>
      </form>
    </div>
  </div>
</header>

<div class="container">
  <article class="map">



  </article>
</div>
</div>
</body>
  <% if @search_term != nil %>
    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" charset="utf-8">

      window.search_term = <%= "'" + @search_term + "'" %>;

    </script>
  <% end %>
    <script src="_/js/script.js"></script>
  </html>
