@import url('http://fonts.googleapis.com/css?family=Pacifico');
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic');
* {
  font-family: $font-secondary;
}

body {
  background: $blue;
}
