// Susy Setup ----------------------------------

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

@include border-box-sizing;

$small  : 30em;
$medium : 47em;
$large  : 75em;

.container {
  @include container;
}

// Header  ----------------------------------
header {
  background: lighten($darkblue, 5%);
  height: 75px;
  line-height: 4rem;

  .logo {
    @include span-columns(4,12);


    h1 {
      font-family: $font-primary;
      color: $offwhite;
      font-size: 4rem;
    }

  }

  .search-box {
    @include span-columns(8 omega,12);

    form {
        input, button {
          background: $blue;
          border: none;
          outline: none;
          color: $offwhite;
          font-size: 1.5rem;
          @include border-radius(2px, 2px);
        }
      }

   input {
        @include input-placeholder {
            color: #fff;
        }
    }

  }


}

// Map  ----------------------------------
.map {
    max-height: 500px;
}
