
.container {

}

// Header  ----------------------------------
header {
  background: lighten($darkblue, 5%);
  height: 75px;
  line-height: 4rem;

  .logo {
    width: 20%;
    float: left;
    margin-left: 4em;


    h1 {
      font-family: $font-primary;
      color: $offwhite;
      font-size: 4rem;
    }

  }

  .search-box {
    width: 20%;
    float: right;
    margin-right: -6rem;

    form {
        input, button {
          background: $blue;
          border: none;
          outline: none;
          color: $offwhite;
          font-size: 1.5rem;
          @include border-radius(2px, 2px);
        }
      }

   input, button {
    margin-top: 1em;

        @include input-placeholder {
            color: #fff;
        }
    }

  }

  .county-info {
      max-width: 50%;
      float: left;
      color: #fff;
      font-family: $font-secondary;
      font-size: 2rem;
      margin-top: 1rem;
    }


}

// Map  ----------------------------------
.map {
    max-height: 500px;
}
