$red      : #E83A25;
$offwhite : #FFE9A3;
$offgreen : #98CC96;
$blue     : #004563;
$darkblue : #191B28;

$font-primary: Pacifico, PT Sans, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$font-secondary: PT Sans, Calibri, Candara, sans-serif;
